/* Org-HTML-Slideshow projection styles.
 *
 * These styles will apply only to the slide-show view.
 */

body {
   margin: 18pt;
   font-size: 24pt;
   background-color: #05565E;
   color: rgba(255, 255, 255, 0.9);
}

/* Use all headings as slide titles, regardless of level. */
h1,h2,h3,h4,h5,h6,h7,h8 {
   font-size: 90pt;
   margin: 18pt;
   text-align: center;
   font-family: 'Yanone Kaffeesatz', sans;
   color: #EDB716;
}

b {
	font-family: 'Lobster Two', script;
	font-weight: bold;
	color: #D91442;
	font-size: 200%;
}

h1 b,h2 b,h3 b,h4 b,h5 b,h6 b,h7 b,h8 {
	display: block;
	margin: -40px;
}

pre {
	background-color: #65BFC8;
}

li {
   margin: 12pt;
   font-family: 'Open Sans', sans-serif;
}

/* Center embedded images. */
p.image {
   text-align: center;
}
div.center {
   text-align: center;
}


/* Hide Org-Mode tags in slide-show view. */
span.tag {
   display: none;
}

/* Hide Org-Mode section numbers in slide-show view. */
span.section-number-1,span.section-number-2,span.section-number-3,span.section-number-4,span.section-number-5,span.section-number-6,span.section-number-7,span.section-number-8 {
   display: none;
}

.blue_background {
   background: blue;
   color: white;
}
