body {
	background-color: #05565E;
	color: rgba(255, 255, 255, 0.9);
}

a {
	color: rgba(0, 255, 255, 0.5);
}

/* Shoutout to H5BP */
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

h1,h2,h3,h4,h5,h6,h7,h8 {
	color: #EDB716;
	font-family: 'Yanone Kaffeesatz', sans;
}

li {
   font-family: 'Open Sans', sans-serif;
}

b {
	font-family: 'Lobster Two', script;
	font-weight: bold;
	color: #D91442;
	font-size: 200%;
	line-height: 100%;
}

h1 b,h2 b,h3 b,h4 b,h5 b,h6 b,h7 b,h8 {
	display: block;
}

.well, pre {
	background-color: #65BFC8;
}

.well a {
	text-decoration: underline;
}

